.card {
    margin: auto;
    margin-top: 15vh;
    width: 25rem;

}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    padding-top: 3px;
}

.form-group {
    margin-bottom: 15px;
}

.error input,
.error textarea {
    border: 1px solid red;
    size: 25rem;
    margin: auto;
}

